:root {

/* ### Primary */

--main-color: hsl(185, 75%, 39%);
--secondary: hsl(229, 23%, 23%);
--accent: hsl(227, 10%, 46%);

/* ### Neutral */
--neutral: hsl(0, 0%, 59%);
--light-neutral: rgba(150, 150, 150, 0.253);

}


/* -------------- Global Style */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 65%, 65%;
    background-position: top -34vw left -18vw, bottom -42vw right -13vw;
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.12rem;
    color: var(--neutral);

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}

h2,
h3{
    color: var(--secondary);
}

/* -------------- Card Style */

/* Card */
.profile {
    background-color: white;
    width: min(80vw,400px);
    border-radius: 1.2rem;

    line-height: 1em;
    font-size: 1rem;
    overflow: hidden;
}

/* -------------- Profile Head Section */

.profile-head {
    
    display: grid;
    grid-template-rows: .5fr .5fr;
    
}

/* Profile Banner */
.profile-banner {
    background-image: url("images/bg-pattern-card.svg");
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 11rem;
}

/* Profile User */

.profile-user {
    margin-top: -4rem;

    display: grid;
    place-items: center;
}

/* Img Style */
.user-img {
    border-radius: 50%;
}

.photo {
    background: #fff;
    border: .4em solid #fff;
    border-radius: 50%;
    width: 30vw,8rem;
}

/* User Info */
.user-info {
    text-align: center;
    padding: .5rem 0;
}

.user-info span {
    color: var(--neutral);
    font-weight: 400;
}

/* -------------- User Data Section */

.profile-data {
    
    border-top: 1px solid var(--light-neutral);
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;

}

.stat {
    text-align: center;
    line-height: 0;
}

.stat-title {
    font-size: 1.4em;
}

.stat-text {
    padding: .5em 0;
    font-size: .8em;
    letter-spacing: .1em;
}

/* -------------- Responsive Section */

/* Responsive to change background images */

@media (max-width:50rem) {
    body {
        background-size: 100vh, 100vh;
        background-position: top -65vh left -65vh, bottom -50vh right -70vh;
      }
}

/* Just in case  */
@media (max-width:250px) {
    .photo {
        width: 50vw;
    }
}